@charset "UTF-8";

@font-face {
  font-family: "titulo";          /* Nome que você vai usar no CSS */
  src: url("fontes/LEMONMILK-Bold.otf") format("opentype");
  font-weight: normal;              /* normal, bold, etc */
  font-style: normal;               /* normal, italic */
}

@font-face {
  font-family: "texto";          /* Nome que você vai usar no CSS */
  src: url("fontes/arial_narrow_7.ttf") format("opentype");
  font-weight: normal;              /* normal, bold, etc */
  font-style: normal;               /* normal, italic */
}


:root{
  --titulo: titulo;
  --texto: texto;
}

/*config GERAL*/

*{

  margin: 0px;
  padding: 0px;

}

.riscado{

  text-decoration: line-through;

}

/*=============*/

/*HEADER*/

header>p{

  background-color: black;
  color: aliceblue;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}

/*=============*/

/*NAVEGADOR*/

nav{

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

}

nav>img{
  width: 80px;
}

/*=============*/

/*INICIO*/

.inicio{

  background-image: url(img/banner\ inicial.png);
  width: 101vw;
  height: 88vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #050605;
  
  

}


/*=============*/

/*CAMISAS*/

.camisas>h2{
  text-align: center;
  font-size: 20px;
  font-family:var(--titulo);

}

.todas-as-camisas{

  display: flex;
  
}

.todas-as-camisas>div{

text-align: center;

}

.todas-as-camisas>div>h3,p{

  font-family: var(--texto);
}

.todas-as-camisas>div>h2{

  margin: 5px auto;
  padding: 5px;
  background-color: rgb(60, 201, 60);
  width: 150px;
  border-radius: 30px;
  font-family: Arial;
  font-weight: normal;
  font-size: small;
  color: aliceblue;
}

/*=============*/

/*BANNER*/

.banner>img{

  width: 101vw;
  margin: 20px auto;
}

/*=============*/

/*FOOTER*/

footer{
  
  background-color: black;
  color: aliceblue;
}

footer>p{

  text-align: center;
  margin-top: 20px;
  font-family: Arial;
  text-decoration: underline;
  padding: 5px;

}

/*=============*/